.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container{
  width: 400px;
  background:red;
  box-shadow: 1rem 1rem 5rem rgba(30, 49, 78, 0.14);
  margin: 3rem auto;
  padding: 3rem 2rem;
  min-height: 16.5rem;
  border: 2px solid red;
  border-radius: 14px;
}

button{
  border-radius: 80%;
  padding: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
