.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.content-holder{
  margin-left: 65px;
  margin-top: 25px;
  border-radius: 20px;
}
.Container{
  width: 510px;
  background-image: url('https://i.pinimg.com/originals/9f/a5/09/9fa509702fab91b910e82919b5408993.jpg');
  box-shadow: 1rem 1rem 5rem rgba(30, 49, 78, 0.14);
  margin: 3rem auto;
  padding: 3rem 2rem;
  min-height: 18rem;
  border-radius: 14px;
}

button{
  border-radius: 80%;
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
}
